a, a:link, a:visited{
	text-decoration: none;
}
ul, ol{
	list-style: none;
}
.pri-heading{
	font-size: 32px;
	font-weight: bold;
	color: #010101;
	margin-bottom: 25px;
}
.sec-heading{
	font-size: 20px;
	font-weight: 400;
	color: #313841;
	margin-bottom: 25px;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.container{
	width: 1180px;
	margin: 0 auto;
}
.row{
	display: table;
	clear: both;
	width: 100%;
}
[class^='col-']{
	float: left;
	padding: 0 15px;
}
.col-3{
	width: calc((100% * 3) / 12);	
}

.col-4{
	width: calc((100% * 4) / 12);	
}
.col-5{
	width: calc((100% * 5) / 12);	
}
.col-9{
	width: calc((100% * 9) / 12);	
}
.offset-1{
	margin-left: calc((100% * 1) / 12);
}
.offset-2{
	margin-left: calc((100% * 2) / 12);
}
.col-10{
	width: calc((100% * 10) / 12);
}